{% extends "base.html.twig" %}


{% block title %}Employer{% endblock %}

{% block body %}
    <div class="container">
    
        <div class="row">
            <div class='col-lg-4'></div>
            <div class='col-lg-4'>
            {# ici c'est mon code pour modifier un  #}
            <h4>
                {% if modedit %}
                MODIFIER UN EMPLOYER
                {% else %}
                 AJOUTER UN EMPLOYER  
                 {% endif %}
            </h4>
            </div>
            <div class='col-lg-4'></div>
        </div>
        <hr>
     
        {{form_start(formEmployer)}}
         <div class="row">
            <div class='col-lg-2'></div>
        <div class='col-lg-8'>
            {{form_row(formEmployer.matricule)}}
            {{form_row(formEmployer.nom)}}
            {{form_row(formEmployer.datenaiss)}}
            {{form_row(formEmployer.salaire)}}
            {{form_row(formEmployer.service)}}
        <button type="submit" class="btn btn-primary">
            {% if modedit %}
                Enregistrer
                {% else %}
                 Ajouter  
            {% endif %}
        </button>
    {{form_end(formEmployer)}}
            
            
            </div>
            <div class='col-lg-2'></div>
        </div>
   
{% endblock %}
