{% extends "base.html.twig" %}

{% block title %}Liste des Employers{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/css/datable.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script>

$(document).ready(function() {
    $('#montableau').DataTable();
} );
</script>
<br>
	<table id="montableau" class="display" style="width:100%">
		<thead>
			<tr>
			    <th>MATRICULE</th>
                <th>NOM_PRENOM</th>
                <th>DATE_NAISSANCE</th>
                <th>SALAIRE</th>
                <th>service</th>
                <th>MODIFIER</th>
                <th>SUPPRIMER</th>
			</tr>
		</thead>

		{% for employer in employers %}
        <tbody>
            <tr>
                <td>{{employer.matricule}}</td>
                <td>{{employer.nom}}</td>
                <td>{{employer.datenaiss|date('d-M-Y')}}</td>
                <td>{{employer.salaire}}.Fcfa</td>
                <td>{{employer.service.libelle}}</td>
                <td><a href="{{employer.id}}/edit"><i class="glyphicon glyphicon-edit"></i></a></td>
                <td><a href="{{employer.id}}/supp"><i class="glyphicon glyphicon-edit"></i></a></td>
            </tr>  
        {% endfor %}	
		</tbody>			
	</table>
{% endblock %}


